*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}





header{
    background-color: #3a8dff;
    height: 100px;
    align-items: center;
    text-align: center;
}
main{
    background-color:#f5f5dc;
    height: 700px;
}


ul{
    color: coral;
    position: relative;
    display: flex;
  justify-content:center;
  gap: 50px;
  list-style-type: none;
}

.menu li{list-style-type: none;
   
}

nav{
    background-color: rgb(10, 10, 10);
}

#produtos{
    background: color #fafadd;;
    height: 700PX;
}

#real{
    background-color:#f5f5dc;
    height: 700px;
}

#história{
    background-color: darkgoldenrod;
    height: 700px;
}

#cadastro{
    background-color: deeppink;
    height: 700px;
}

footer{
   background-color: #3a8dff;

}

.menu{
    background-color: black;
    font-weight: bold;
}

.menu a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: 0.6s;
 }   
.menu a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}


.menu li{
    display: inline;
    padding: 10px;
}

.texto_1{
    background-color: navajowhite;
    margin:0 50px 0 50px;

}
 #produtos{
    padding-top: 30px;
 }